@import url('https://fonts.googleapis.com/css2?family=Liter&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
    font-family: "Liter", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.container { max-width: 600px; margin: auto; }
        #text { padding: 10px; margin: 10px 0; color: black; }
        .paragraph { font-size: 16px; }
        .todo-container { margin-top: 20px; }
        .calendar { display: grid; grid-template-columns: repeat(7, 1fr); gap: 5px; }
        .day { border: 1px solid #ccc; padding: 20px; text-align: center; cursor: pointer; }



.container h2{
    padding: 1.25rem 0 1.25rem 0 ;
}


      .light-mode {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: #323232;
    color: white;
}
  
.zoom-img {
    width: 200px;
    transition: transform 0.3s ease;
}

.drag-container {
    margin-top: 20px;
}
 
.box {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: grab;
}
 
#dropZone {
    margin-top: 20px;
    width: 100%;
    height: 150px;
    border: 2px dashed #666;
    display: flex;
    justify-content: center;
    align-items: center;
}
 